@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html {
  font-size: 1.2rem;
  color: white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2E2E48 #47516B;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #232339;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #232339;
  border: 3px solid #2E2E48;
}